@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
:root {
    --foreground-rgb: 15, 23, 42;
    --background-rgb: 248, 250, 252;
}

body {
    @apply transition-colors duration-300;
}

.dark {
    color-scheme: dark;
}